.bar {
  background-color: #0a0a0a;
  min-height: 45px;
  padding: 0 8px; }

.module-box {
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #1b1b1b;
  margin: 8px 0px; }
  .module-box:hover {
    background-color: #525252; }

.module-box-empty {
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #1b1b1b;
  margin: 8px 0px;
  color: #cdcdcd;
  padding: 0px 8px; }
  .module-box-empty:hover {
    background-color: #525252; }

.module-box-task {
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #1b1b1b;
  margin: 8px 0px; }
  .module-box-task:hover {
    background-color: #525252; }
  .module-box-task.active {
    background-color: #2f2f2f; }

.module {
  color: #cdcdcd;
  padding: 0px 8px;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }
  .module:hover {
    background-color: #525252; }

.module-muted label {
  padding: 0px 8px;
  color: #ee5396; }

.icon {
  min-height: 29px;
  min-width: 29px;
  background-color: #2f2f2f;
  font-weight: normal; }

.launcher {
  min-height: 29px;
  min-width: 29px;
  background-color: #2f2f2f;
  font-size: 20px;
  font-weight: normal;
  margin: 8px 0px;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }
  .launcher:hover {
    background-color: #525252; }

.ws-button {
  min-width: 60px;
  margin: 8px 0px; }
  .ws-button label {
    transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }
  .ws-button.occupied {
    background-color: #2f2f2f; }
  .ws-button:not(.occupied) {
    background-color: #1b1b1b; }
    .ws-button:not(.occupied) .ws-button-label {
      color: #525252; }
  .ws-button.active .ws-button-label {
    background-color: #cdcdcd;
    color: #0a0a0a; }
  .ws-button:not(.active):hover .ws-button-label {
    background-color: #525252;
    color: #cdcdcd; }

menu {
  all: unset;
  background-color: #0a0a0a;
  padding: 18px 18px;
  color: #cdcdcd; }
  menu separator {
    background-color: #525252;
    min-height: 1px; }

menu menuitem {
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
  padding: 3px 5px;
  margin: 5px 0;
  color: #cdcdcd; }

.menuitem-label:hover {
  background-color: #2f2f2f; }

.ctrl-box {
  background-color: #0a0a0a;
  padding: 8px 8px; }

.ctrl-header {
  background-color: #1b1b1b;
  padding-right: 11px;
  margin: 0 0 8px 0;
  min-width: 260px; }

.pic {
  padding-right: 10px; }

.ctrl-btn label {
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }

.ctrl-btn {
  background-color: #1b1b1b;
  padding: 8px;
  min-width: 82px;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }
  .ctrl-btn:checked {
    background-color: #cdcdcd; }
    .ctrl-btn:checked label {
      color: #0a0a0a; }
  .ctrl-btn:not(:checked):hover {
    background-color: #525252; }

.wp-btn {
  background-color: #1b1b1b;
  padding: 5px;
  min-width: 21px;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }
  .wp-btn:hover {
    background-color: #525252; }

scale {
  min-height: 2px;
  min-width: 2px; }

scale.horizontal {
  padding: 17px 12px; }

scale.vertical {
  padding: 12px 17px; }

scale slider {
  min-height: 18px;
  min-width: 18px;
  margin: -8px; }

scale.fine-tune.horizontal {
  min-height: 4px;
  padding-top: 16px;
  padding-bottom: 16px; }

scale.fine-tune.vertical {
  min-width: 4px;
  padding-left: 16px;
  padding-right: 16px; }

scale.fine-tune slider {
  margin: -7px; }

scale trough {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  outline: none;
  background-color: rgba(255, 255, 255, 0.3); }

scale trough:disabled {
  background-color: rgba(255, 255, 255, 0.12); }

scale highlight {
  transition: background-image 75ms cubic-bezier(0, 0, 0.2, 1);
  background-image: image(#E0E0E0); }

scale highlight:disabled {
  background-color: #0F0F0F;
  background-image: image(rgba(255, 255, 255, 0.3)); }

scale fill {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.3); }

scale fill:disabled {
  background-color: transparent; }

scale slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  color: #E0E0E0;
  background-color: #0F0F0F;
  box-shadow: inset 0 0 0 2px #E0E0E0; }

scale slider:hover {
  box-shadow: inset 0 0 0 2px #E0E0E0, 0 0 0 8px rgba(255, 255, 255, 0.12); }

scale slider:active {
  box-shadow: inset 0 0 0 4px #E0E0E0, 0 0 0 8px rgba(255, 255, 255, 0.12); }

scale slider:disabled {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.3); }

scale marks,
scale value {
  color: rgba(255, 255, 255, 0.7); }

scale indicator {
  background-color: rgba(255, 255, 255, 0.3);
  color: transparent; }

scale.marks-before:not(.marks-after) > trough > slider, scale.marks-after:not(.marks-before) > trough > slider {
  transform: rotate(0); }

scale.horizontal > marks.top {
  margin-bottom: 7px;
  margin-top: -15px; }

scale.horizontal.fine-tune > marks.top {
  margin-bottom: 6px;
  margin-top: -14px; }

scale.horizontal > marks.bottom {
  margin-top: 7px;
  margin-bottom: -15px; }

scale.horizontal.fine-tune > marks.bottom {
  margin-top: 6px;
  margin-bottom: -14px; }

scale.vertical > marks.top {
  margin-right: 7px;
  margin-left: -15px; }

scale.vertical.fine-tune > marks.top {
  margin-right: 6px;
  margin-left: -14px; }

scale.vertical > marks.bottom {
  margin-left: 7px;
  margin-right: -15px; }

scale.vertical.fine-tune > marks.bottom {
  margin-left: 6px;
  margin-right: -14px; }

scale.horizontal indicator {
  min-height: 8px;
  min-width: 1px; }

scale.vertical indicator {
  min-height: 1px;
  min-width: 8px; }

scale.horizontal.marks-before:not(.marks-after) slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1), background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 32px;
  min-width: 32px;
  margin: -15px;
  border-radius: 50%;
  background-size: auto, 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent; }

scale.horizontal.marks-before:not(.marks-after) slider, scale.horizontal.marks-before:not(.marks-after) slider:hover, scale.horizontal.marks-before:not(.marks-after) slider:active, scale.horizontal.marks-before:not(.marks-after) slider:disabled {
  box-shadow: none; }

scale.horizontal.marks-before:not(.marks-after) slider:focus {
  background-color: opacity(0.08); }

scale.horizontal.marks-before:not(.marks-after) slider:hover {
  background-color: opacity(0.08); }

scale.horizontal.marks-before:not(.marks-after) slider:focus:hover {
  background-color: opacity(0.16); }

scale.horizontal.marks-before:not(.marks-after) slider:active {
  background-size: auto, 0% 0%;
  background-color: opacity(0.08); }

scale.horizontal.marks-before:not(.marks-after) slider {
  background-image: -gtk-scaled(url("assets/scale-horz-marks-before-slider-dark.png"), url("assets/scale-horz-marks-before-slider-dark@2.png")); }

scale.horizontal.marks-before:not(.marks-after) slider:disabled {
  background-image: -gtk-scaled(url("assets/scale-horz-marks-before-slider-disabled-dark.png"), url("assets/scale-horz-marks-before-slider-disabled-dark@2.png")); }

scale.horizontal.marks-before:not(.marks-after) slider:active {
  background-image: -gtk-scaled(url("assets/scale-horz-marks-before-slider-dark.png"), url("assets/scale-horz-marks-before-slider-dark@2.png")); }

scale.horizontal.marks-after:not(.marks-before) slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1), background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 32px;
  min-width: 32px;
  margin: -15px;
  border-radius: 50%;
  background-size: auto, 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent; }

scale.horizontal.marks-after:not(.marks-before) slider, scale.horizontal.marks-after:not(.marks-before) slider:hover, scale.horizontal.marks-after:not(.marks-before) slider:active, scale.horizontal.marks-after:not(.marks-before) slider:disabled {
  box-shadow: none; }

scale.horizontal.marks-after:not(.marks-before) slider:focus {
  background-color: opacity(0.08); }

scale.horizontal.marks-after:not(.marks-before) slider:hover {
  background-color: opacity(0.08); }

scale.horizontal.marks-after:not(.marks-before) slider:focus:hover {
  background-color: opacity(0.16); }

scale.horizontal.marks-after:not(.marks-before) slider:active {
  background-size: auto, 0% 0%;
  background-color: opacity(0.08); }

scale.horizontal.marks-after:not(.marks-before) slider {
  background-image: -gtk-scaled(url("assets/scale-horz-marks-after-slider-dark.png"), url("assets/scale-horz-marks-after-slider-dark@2.png")); }

scale.horizontal.marks-after:not(.marks-before) slider:disabled {
  background-image: -gtk-scaled(url("assets/scale-horz-marks-after-slider-disabled-dark.png"), url("assets/scale-horz-marks-after-slider-disabled-dark@2.png")); }

scale.horizontal.marks-after:not(.marks-before) slider:active {
  background-image: -gtk-scaled(url("assets/scale-horz-marks-after-slider-dark.png"), url("assets/scale-horz-marks-after-slider-dark@2.png")); }

scale.vertical.marks-before:not(.marks-after) slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1), background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 32px;
  min-width: 32px;
  margin: -15px;
  border-radius: 50%;
  background-size: auto, 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent; }

scale.vertical.marks-before:not(.marks-after) slider, scale.vertical.marks-before:not(.marks-after) slider:hover, scale.vertical.marks-before:not(.marks-after) slider:active, scale.vertical.marks-before:not(.marks-after) slider:disabled {
  box-shadow: none; }

scale.vertical.marks-before:not(.marks-after) slider:focus {
  background-color: opacity(0.08); }

scale.vertical.marks-before:not(.marks-after) slider:hover {
  background-color: opacity(0.08); }

scale.vertical.marks-before:not(.marks-after) slider:focus:hover {
  background-color: opacity(0.16); }

scale.vertical.marks-before:not(.marks-after) slider:active {
  background-size: auto, 0% 0%;
  background-color: opacity(0.08); }

scale.vertical.marks-before:not(.marks-after) slider {
  background-image: -gtk-scaled(url("assets/scale-vert-marks-before-slider-dark.png"), url("assets/scale-vert-marks-before-slider-dark@2.png")); }

scale.vertical.marks-before:not(.marks-after) slider:disabled {
  background-image: -gtk-scaled(url("assets/scale-vert-marks-before-slider-disabled-dark.png"), url("assets/scale-vert-marks-before-slider-disabled-dark@2.png")); }

scale.vertical.marks-before:not(.marks-after) slider:active {
  background-image: -gtk-scaled(url("assets/scale-vert-marks-before-slider-dark.png"), url("assets/scale-vert-marks-before-slider-dark@2.png")); }

scale.vertical.marks-after:not(.marks-before) slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1), background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 32px;
  min-width: 32px;
  margin: -15px;
  border-radius: 50%;
  background-size: auto, 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent; }

scale.vertical.marks-after:not(.marks-before) slider, scale.vertical.marks-after:not(.marks-before) slider:hover, scale.vertical.marks-after:not(.marks-before) slider:active, scale.vertical.marks-after:not(.marks-before) slider:disabled {
  box-shadow: none; }

scale.vertical.marks-after:not(.marks-before) slider:focus {
  background-color: opacity(0.08); }

scale.vertical.marks-after:not(.marks-before) slider:hover {
  background-color: opacity(0.08); }

scale.vertical.marks-after:not(.marks-before) slider:focus:hover {
  background-color: opacity(0.16); }

scale.vertical.marks-after:not(.marks-before) slider:active {
  background-size: auto, 0% 0%;
  background-color: opacity(0.08); }

scale.vertical.marks-after:not(.marks-before) slider {
  background-image: -gtk-scaled(url("assets/scale-vert-marks-after-slider-dark.png"), url("assets/scale-vert-marks-after-slider-dark@2.png")); }

scale.vertical.marks-after:not(.marks-before) slider:disabled {
  background-image: -gtk-scaled(url("assets/scale-vert-marks-after-slider-disabled-dark.png"), url("assets/scale-vert-marks-after-slider-disabled-dark@2.png")); }

scale.vertical.marks-after:not(.marks-before) slider:active {
  background-image: -gtk-scaled(url("assets/scale-vert-marks-after-slider-dark.png"), url("assets/scale-vert-marks-after-slider-dark@2.png")); }

scale.color {
  min-height: 0;
  min-width: 0; }

scale.color.horizontal {
  padding: 0 0 12px 0; }

scale.color.horizontal slider:dir(ltr), scale.color.horizontal slider:dir(rtl) {
  margin-bottom: -13.5px;
  margin-top: 11.5px; }

scale.color.vertical:dir(ltr) {
  padding: 0 0 0 12px; }

scale.color.vertical:dir(ltr) slider {
  margin-left: -13.5px;
  margin-right: 11.5px; }

scale.color.vertical:dir(rtl) {
  padding: 0 12px 0 0; }

scale.color.vertical:dir(rtl) slider {
  margin-right: -13.5px;
  margin-left: 11.5px; }

window.notification-popups box.notifications {
  padding: .5em; }

.notif-icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em; }

.notif-icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: #cdcdcd; }

.notif-icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 0px; }

.notification {
  min-width: 350px;
  border-radius: 0px;
  padding: 1em;
  margin: .5em;
  border: 0px solid;
  background-color: #0a0a0a; }

.title {
  color: #cdcdcd;
  font-size: 16px; }

.body {
  color: #525252; }

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em; }

.actions .action-button:first-child {
  margin-left: 0; }

.actions .action-button:last-child {
  margin-right: 0; }

* {
  all: unset;
  font-family: BlexMono Nerd Font Propo;
  font-weight: bold;
  color: #cdcdcd; }
