@import "colors.scss";
@import "bar.scss";
@import "misc.scss";
@import "ctrl.scss";
@import "notifs.scss";

* {
  all: unset;
  font-family: BlexMono Nerd Font Propo;
  font-weight: bold;
  color: $fg;
}
