$bar-colors: false;
$bar-float: false;

@import "colors.scss";
@import "bar.scss";
@import "misc.scss";
@import "ctrl.scss";
@import "power.scss";

* {
  all: unset;
  font-family: RecMonoLinear Nerd Font Propo;
  font-weight: normal;
  color: $fg;
}

