@import "colors.scss";

window.notification-popups box.notifications {
    padding: .5em;
}

.notif-icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.notif-icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: $fg;
}

.notif-icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 0px;
}

.notification {
    min-width: 350px;
    border-radius: 0px;
    padding: 1em;
    margin: .5em;
    border: 0px solid;
    background-color: $bg;
}

.title {
    color: $fg;
    font-size: 16px;
}

.body {
    color: $bg4;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
